<title>Requests</title>
<%- include('header1'); -%>
<!-- CSS LINK -->
<link rel="stylesheet" href="/css/request.css">
<%- include('header2'); -%>


<div class="mainhead">
    <h3>Requests for Stationary</h3>
</div>



<div class="container d-flex justify-content-center"  >
    <div class="row col-md-12 col-md-offset-2 custyle" >
    <table class="table table-striped custab" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Timestamp</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        <% body.forEach(element => { %>
            <tr>
                <td><%= element.fname + " " + element.lname %></td>
                <td><%= element.item %></td>
                <td>x5</td>
                <td><%= element.date_time %></td>
                <td class="text-center" ><a class='btn btn-success btn-xs' style="margin-right: 2rem;" href="#"><span class="glyphicon glyphicon-edit"></span> Accept</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
            </tr>
        <% }); %>
           
    </table>
    </div>
</div>

<%- include('footer'); -%>