<title>Stock List</title>
<%- include('header1'); -%>
<!-- CSS LINK -->
<link rel="stylesheet" href="/css/request.css">
<%- include('header2'); -%>

<div class="row head">
    <div class="mainhead col-md-12">
        <h3 style="text-decoration: underline;">Stock List</h3>
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="margin: 1%;">Click to add new Item</a>
        <div class="row">
              <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample1"  style="margin: 2%;">
                    <div class="fluid container" style="width: 40%;">
                        <div class="card card-body">
                              <form>
                                  <div class="form-group">
                                  <label for="formGroupExampleInput">Item Name</label>
                                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                                  </div>
                                  <div class="form-group">
                                  <label for="formGroupExampleInput2">Stock in hand</label>
                                  <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                                  </div>
                                  <div class="form-group">
                                      <label for="formGroupExampleInput2">Quantity required</label>
                                      <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                                  </div>
                                  <button type="submit" class="btn btn-primary">Add</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>                   
        <!-- <div class="search-box">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder=" " /><span></span>
        </div> -->
    </div>

</div>
<div class="container d-flex justify-content-center">
    <div class="row col-md-12 col-md-offset-2 custyle">
        <table id="myTable" class="table table-list-search table-striped custab">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Stationery Item</th>
                    <th>Qty<br>(previous sem)</th>
                    <th>Stock in hand</th>
                    <th>Quantity required</th>
                    <th>Qty<br>(present sem)</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <% body.forEach(element => { %>
                <tr>
                    <td><%= element.id %></td>
                    <td><%= element.item %></td>
                    <td><%= element.qty_prev %></td>
                    <td><%= element.avail %></td>
                    <td><%= element.qty_req %></td>
                    <td><%= element.qty_pres %></td>
                    <td class="text-center"><a class='btn btn-success btn-xs' style="margin-right: 2rem;" href="#"><span
                                class="glyphicon glyphicon-edit"></span>Edit <i class="fas fa-pencil-alt"></i></a> <a
                            href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> <i
                                class="far fa-trash-alt"></i> Delete</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('footer'); -%>