<title>Summary</title>
<%- include('header'); -%>

<div class="row head">
    <div class="mainhead col-md-12 row">
        <div class="col-md-6">
            <h3>Status for your Requests</h3>
        </div>

        <div class="col-md-3">
            <input type="text" class=" form-control" id="myInput" onkeyup="myFunction()"
                placeholder="Search" /><span></span>
        </div>
    </div>


</div>
<div class="container d-flex justify-content-center">
    <div class="col-md-offset-2 custyle table-responsive">
        <table id="myTable" class="table table-list-search table-striped custab">
            <thead>
                <tr>
                    <th scope="row">Request ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col" class="text-center">Icon</th>
                </tr>
            </thead>
            <tbody>
                <% body.forEach(element => { %>
                <tr>
                    <td><%= element.req_id %></td>
                    <td><%= element.item %></td>
                    <td><%= element.qty %></td>
                    <td><%=element.date_time%></td>
                    <td class="text-center">
                        <%= element.req_status %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('footer'); -%>